[2017-12-20 06:20] qiyaod commented on #513
The overall login request takes 48ms, because the Event: 'request' only can get the data of export functions (method), which total is 14ms, a small part of the overall time spent.

This is just an example, the real case may not just 48ms and 14ms. With this data the user has no idea where to find the performance problem code, if there are lot of code before, between and after these 2 methods, how

[2017-12-20 08:41] shiyanf opened #514 "The memory data are not correct on bluemix."
The Node.js DC use appmetrics to get the memory data. But this data doesn't make sense on bluemix.

**On bluemix: the memory data get from appmetrics:**

The private memory is a about 1.3 G, it doesn't make sense.

But in the manifest file, the application is assigned 512M memory.

**On premise: the memory data get from appmetrics:**

The private is about 91M. I think this value is correct.

Also

[2017-12-20 08:44] shiyanf commented on #514
appmetrics running as a docker container, the private reach to about 2G, and physical just above 0.
![memory-container](https://user-images.githubusercontent.com/24837153/34198321-e6c217d0-e5a4-11e7-8810-a9a06915a63c.jpg)

[2018-01-12 08:54] shiyanf opened #516 "The formatURL function in https-outbound-probe.js grenerate wrong url."
I run the codecov on my laptop, and found the URL generated by formatURL function in https-outbound-probe.js  is wrong.
1. The httpsOptions is

2. The URL generated by formatURL  is "'https://localhost:60871:60871/'"

[2018-01-12 16:09] baens opened #517 "Using nodemon with appmetric causes heapdumps"
Summary
----------
When trying to use nodemon (or any package that does service restarting) with appmetrics causes the application to crash on restart and produce a heapsnapshot file.

Steps to reproduce
--------------------
Setup a project (using yarn)
[code]

index.js without appmetrics
[code]

index.js with appmetrics
[code]

Running the application with `yarn nodemon index.js`

Add `console.lo

[2018-01-15 14:52] hhellyer commented on #517
Appmetrics includes the heapdump module, both nodemon and heapdump use SIGUSR2. nodemon uses SIGUSR2 to restart the application and heapdump uses it to generate a heap dump.

You should be able to avoid this issue by using the `NODE_HEAPDUMP_OPTIONS` environment variable to prevent heapdump using SIGUSR2:

`> env NODE_HEAPDUMP_OPTIONS=nosignal nodemon -r heapdump index.js`

[2018-01-15 15:38] baens commented on #517
So

`> env NODE_HEAPDUMP_OPTIONS=nosignal nodemon -r heapdump index.js`

Crashes with

[code]

However

`> env NODE_HEAPDUMP_OPTIONS=nosignal nodemon index.js`

Does seem to work!

Thank you!

[2018-01-15 15:38] #517 closed

[2018-01-22 11:36] stalleyj commented on #504
I have passed this problem on to Bluemix autoscaling team

[2018-01-23 05:36] landonzeng opened #520 "How to use it in .Net Core Web api"
I want to use AppMetrics In my .Net Core WebApi Application, metrics data write to influxdb,how I do?

[2018-01-23 09:32] sjanuary commented on #520
@landonzeng - I think you're in the wrong place, this project provides application metrics for Node.js

[2018-01-23 09:32] #520 closed

[2018-01-23 12:10] #516 closed

[2018-01-23 15:26] stalleyj commented on #504
@pdykes Is this still an issue ?

[2018-01-23 15:42] pdykes commented on #504
I have to check, hopefully next week. Perry

On Jan 23, 2018 9:26 AM, "Julie Stalley" <notifications@github.com> wrote:

[2018-02-09 15:16] abubeck commented on #438
@Nagasai-Aytha: It is called libc6-compat.

[2018-04-10 14:57] stalleyj commented on #504
Closing this as no response from original raiser, re-open if this is still a problem

[2018-04-10 14:57] #504 closed

[2018-04-26 10:15] tiberiuzuld commented on #438
Adding `libc6-compat` and `ENV LD_LIBRARY_PATH /usr/app/node_modules/appmetrics` made it work for me.

[2018-04-30 13:09] matthewpwilson opened #524 "No CPU data on z/OS"
No 'cpu' events are emitted on z/OS using version 3.1.3 and appmetrics-dash shows 'No data available'. If this feature is not supported it would be good to have it documented in the README.

My test case (works fine on my Linux workstation):
"use strict";
let appmetrics = require('appmetrics');
let monitoring = appmetrics.monitor();
let http = require('http');

monitoring.on('cpu', function(data)

[2018-04-30 13:25] matthewpwilson opened #525 "Profiling events on z/OS contain bad data"
Using version 3.1.3, profiling events on z/OS contain the following strange-looking function names, and empty filenames:
{ date: 0,
  functions:
   [ { self: 1,
       parent: 0,
       file: '',
       name: '(BrBoBoBt)',
       line: 0,
       count: 0 },
     { self: 2,
       parent: 1,
       file: '',
       name: '(BpBrBoBgBrBaBm)',
       line: 0,
       count: 0 } ],
  time: 1525094177179

[2018-05-11 16:16] lardissone commented on #152
I've found a workaround for this, do the .enable('mongo') after the mongoose connections is done:

    const mongoose = require('mongoose')
    const appmetrics = require('appmetrics')

    mongoose.createConnection(config.mongodb.uri, config.mongodb.options)
    .on('connected', function () {
        appmetrics.enable('mongo')
        debug('connected')
    })

Probably this also works for #151 b

[2018-05-31 08:10] SeanSobey opened #526 "Build error on node 10.3.0"
After upgrading to Node 10.3.0 I seem unable to build `(npm rebuild)` appmetrics ([again](https://github.com/RuntimeTools/appmetrics/issues/512)):

[code]

I am still using msbuild 14.0

[2018-06-04 09:14] sjanuary commented on #526
@SeanSobey we're not [officially supporting](https://github.com/RuntimeTools/appmetrics#supported-platforms) Node 10 yet and although I think it works with no changes on Linux it looks like there's some work to do on Windows.  We're happy to review and accept PRs, otherwise it will be looked at when someone has time for it which may not be very quickly unfortunately due to other commitments.

[2018-06-04 10:51] sjanuary commented on #512
Superseded by #526, we're not going to support 9.x now that 10.x is released

[2018-06-04 10:51] #512 closed

[2018-06-05 01:39] smartmouse opened #527 "node 4.x is end of service"
current appmetrics has  following in package.json

[code]

Now that node 4.x is end of service
Should this be changed to
[code]
Question will be:
Does appmetrics works with node 8.x (LTS)?
What about node 10.x?

[2018-06-05 07:34] tobespc commented on #527
Yes we do work with node 8x (LTS).  Node 10 support is currently not available (although it will work on some platforms). We will add full support for node 10 later in the year

[2018-06-28 13:53] honzajavorek opened #529 "What is the copyright notice of this project?"
I'm supposed to provide a [copyright notice](https://en.wikipedia.org/wiki/Copyright_notice) of projects I use as dependencies. I went through many files here, but I struggle to see how the notice looks like for this project. Even the `author` field is empty in the `package.json`. Please advise, thanks.

[2018-06-28 14:37] honzajavorek opened #530 "Review 'ibmapm-embed' dependency (licensing and authorship issues)"
The `ibmapm-embed` package depends on `request`, which transitively depends on `bcrypt-pbkdf`, which has unclear licensing and authorship (see https://github.com/request/request/issues/2971). My concerns are explained in https://github.com/joyent/node-sshpk/issues/37#issuecomment-401051047 This problem spreads through `ibmapm-embed` and affects `appmetrics` as well.

[2018-06-28 15:15] tobespc commented on #529
@honzajavorek  we have many authors to this project and reference them in the https://github.com/RuntimeTools/appmetrics/blob/master/AUTHORS.md file.  As for the copyright itself, we release under the Apache 2.0 licence with our notices being kept here https://github.com/RuntimeTools/appmetrics/blob/master/NOTICES.txt

[2018-06-28 15:16] tobespc commented on #530
@honzajavorek Thanks for raising this, I'll take a look at these dependencies and update shortly

[2018-06-29 09:22] honzajavorek commented on #530
The issue has been resolved by releasing `bcrypt-pbkdf@1.0.2` a few hours ago. Since it is a patch version, it propagates to new installs up the dependency tree. Details [here](https://github.com/joyent/node-sshpk/issues/37#issuecomment-401216983). Thank you!

[2018-06-29 09:22] #530 closed

[2018-06-29 09:32] honzajavorek commented on #529
Hmm. The copyright notice usually looks like this:

[code]

I'm not sure how this works exactly with Apache 2.0, but this is the first project of many where it's hard to assemble the notice. The email is often omitted, but usually the name is the original author(s) who started the project. Sometimes there's an organization (IBM?). Many, many times I've seen something like this:

[code]

This is th

[2018-06-29 09:34] tobespc commented on #529
I'll confirm with our legal team on what they would advise

[2018-06-29 09:35] honzajavorek commented on #529
E.g. `appmetrics-prometheus` have a [LICENSE file like this](https://github.com/RuntimeTools/appmetrics-prometheus/blob/master/LICENSE):

[code]

Thus in case of that particular project, the copyright holder is obviously `IBM Corp.`.

[2018-06-29 09:36] honzajavorek commented on #529
@tobespc Thanks! And I'm sorry for the hassle. (Well, I'm sorry for my legal team... 🙂 )

[2018-07-11 08:58] yuecchen opened #531 "'http' event is triggered twice for one request"
version: appmetrics@3.1.3

write the code in an application:
[code]

when I trigger one request, two 'http' are printed.

[2018-07-25 08:14] tobespc commented on #531
have you looked to see what other information is in the http object ?  Are they identical objects for each request ?

[2018-07-25 15:15] chumberi commented on #458
Has there been any update on this enhancement?

[2018-07-26 04:02] yuecchen commented on #531
It seems they are exactly same:
[code]

[2018-08-08 04:09] yuecchen opened #535 "npm install error in Node.js v8.11.3"
Execute `npm install appmetrics --save` with Node.js v8.11.3, and got the following error:

[code]

I've got my environment gcc g++ and python installed.

[code]

[2018-08-13 10:37] sjanuary commented on #531
@yuecchen which version of Node.js is this happening with please?

[2018-08-13 10:40] sjanuary commented on #535
@yuecchen installing appmetrics as root is not supported

[2018-08-13 10:40] #535 closed

[2018-08-13 10:42] sjanuary commented on #458
@chumberi we don't have any immediate plans to implement this but we are open to pull requests if you are interested in taking a look yourself.

[2018-08-13 14:05] yuecchen commented on #531
Node.js version that we are using to find this issue is: v6.14.2

[2018-08-24 15:42] mattcolegate opened #536 "Appmetrics on z/OS build issues for Node v6.14.3"
Something has changed for Node on z/OS from v6.14.3 that's causing our libraries to build wtih a `.x` suffix instead of `.so` with the result that we can't load our libraries anymore because we can't find them. This will need looking at for the next version of Appmetrics on z/OS - probably by altering the config to specify a `.so` suffix for libraries.

[2018-08-24 22:09] ab-m opened #537 "Allow For IBM i PASE Support"
Currently Appmetrics has issues when installed on the IBM i PASE environment.

When using Node verison 8.X appmetrics can be npm installed but there are runtime errors:

`Error: rtld: 0712-001 Symbol _ZN2v816FunctionTemplate3NewEPNS_7IsolateEPFvRKNS_20FunctionCallbackInfoINS_5ValueEEEENS_5LocalIS4_EENSA_INS_9SignatureEEEiNS_19ConstructorBehaviorE was referenced
      from module /appmetrics-test/n

[2018-08-29 07:58] sgenov commented on #535
I confirm this workaround works

[2018-08-30 06:28] shiyanf opened #539 "Error: Cannot find module './appmetrics'"
When I try the appmetrics 4.0.0 on Ubuntu, I get this error.

[root@cn-icp-01 testware]# kubectl logs acmeairam-cc9dd6c58-8kl42
module.js:549
    throw err;
    ^

Error: Cannot find module './appmetrics'
    at Function.Module._resolveFilename (module.js:547:15)
    at Function.Module._load (module.js:474:25)
    at Module.require (module.js:596:17)
    at require (internal/module.js:11:18)
    a

[2018-08-30 06:36] shiyanf commented on #539
Package.json:

[root@cn-icp-01 acmeair-appmetrics]# cat package.json
[code]

[2018-08-30 09:32] mattcolegate opened #540 "Appmetrics crash on early Node v6.14.3 on z/OS"
Tested Node on z/OS versions: **6.14.3**, 6.14.2, 6.13.1
Tested Appmetrics versions: **3.1.3**, 4.0.0

Running an app which calls `require(appmetrics)` terminates unexpectedly at that line, displaying `Killed` to the console.

Debug output:
[code]

`npm test` output:
[code]

[2018-09-03 08:01] tobespc commented on #539
can you provide details of the dockerfile you are using to build this environment please or, even better, provide a machine we can log into to see the issue.  We have appmetrics running on ubuntu without any problems so I'm wondering if its not installing correcrtly into your container

[2018-09-03 08:31] shiyanf commented on #539
https://github.com/acmeair/acmeair-nodejs
This is the application I deployed.

[2018-09-03 09:08] sjanuary commented on #539
@shiyanf this message means that the **native** appmetrics module can't be found. It has possibly failed to build during the npm install phase. Is there anything in your Docker build output that could help?

[2018-09-03 09:34] shiyanf commented on #539
@sjanuary It should be the root cause, the ./appmetrics.node is not build rightly. But my environment is out of service now.  You can build it (https://github.com/acmeair/acmeair-nodejs) in your environment, if you have environment.  Or if you have environment, I can reproduce it in your env. Thanks.

[2018-09-03 09:56] tobespc commented on #539
@shiyanf we need more information from you.  That Dockerfile you have provided fails to run so we cannot test with that.   What version of Node are you running with ?  If you don't run with Docker but just run acmeair from the command line, does that work for you ?  Unfortunately, without the build log from Docker showing what has been installed (and possibly failed) we are a bit stuck.  Are you s

[2018-09-03 10:36] sjanuary commented on #539
@shiyanf I downloaded the acmeair-nodejs project, added the 4 appmetrics dependencies to package.json and added `require('appmetrics-dash').attach()` to line 17 of app.js.  I then ran `docker build -t acmeair .` and then `docker run acmeair` on my local machine and it ran without error.  I also tried changing the require statement to `require('appmetrics').monitor()`, which also ran without error.

[2018-09-03 11:32] shiyanf commented on #539
@sjanuary You can close this one now, once my env back, I will reproduce this, and update issue. Thanks.

[2018-09-03 11:34] #539 closed

[2018-09-06 08:34] AntonZarutsky opened #542 "Appmetrics http-outbound do not capture timeouts"

[2018-09-17 11:19] sjanuary commented on #531
@yuecchen I can't reproduce this, I'm using Node.js 6.14.4 and appmetrics 4.0.1 with this test server:

[code]

I then refresh localhost:3000 in the browser and I only see one event.

Could you please re-try with the latest appmetrics (4.0.1) and if you still see the problem could you paste in your test application here so I can see what you're doing differently to me?

[2018-09-19 08:39] mattcolegate commented on #258
@gustavomassa can you have a look at https://www.ibm.com/support/knowledgecenter/en/SS3KLZ/com.ibm.java.diagnostics.healthcenter.doc/topics/ts_nocpudata.html and see if what's there resolves the issue please?

[2018-09-19 17:36] gustavomassa commented on #258
@mattcolegate sure, I have done the commands, PerfOS was already enabled, I rebuilded the counters using the command lodctr /r , but still facing the same issue.

[2018-09-20 06:36] mattcolegate commented on #258
@gustavomassa do you get any CPU data through at all?

[2018-09-20 12:13] gustavomassa commented on #258
@mattcolegate no CPU data at all.
![image](https://user-images.githubusercontent.com/16235598/45817531-72725c80-bcb5-11e8-8a32-961f12b6fde0.png)

[2018-09-24 11:40] sjanuary commented on #258
@gustavomassa we build appmetrics binaries with VS 2015 so that could be the issue if different runtime C++ libraries are installed.  If that is the case then you might find installing directly from Git would work for you on your work computer (I.e. `npm install https://github.com/RuntimeTools/appmetrics`) because that would cause the binaries to be built from source, rather than extracting the pr

[2018-09-26 09:44] gdams commented on #531
I can recreate this failure with the following code:

[code]

It seems to be to do with the fact that we are binding express and another service on the same http port (socket.io) in this case.

[2018-10-04 23:49] tonifirnandes commented on #527
Hello Sir @tobespc, i am so sorry, but i still got this error when tried to install it, here some error snippet:
Thu, 04 Oct 2018 23:38:20 GMT
********************************************************************************
You are installing the Node Application Metrics monitoring and profiling module.
Licensed under the Apache License, Version 2.0 (the "License")
you may not use this file except

[2018-10-08 14:53] tkssharma opened #546 "is this issue with Node js Version ?"
You are installing the Node Application Metrics monitoring and profiling module.
Licensed under the Apache License, Version 2.0 (the "License")
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distr

[2018-10-09 12:45] mattcolegate commented on #546
Hi @tkssharma, this is partly due to Node Version :)
Appmetrics uses some native C++ code that we ship as a binary package on NPM. We are in the midst of getting that ready for Node 10 (https://github.com/RuntimeTools/appmetrics/pull/543) but for now there is no binary support for Node 10, so the appmetrics installer went down the route of trying to compile the C++ source code on your machine (thi

[2018-10-09 12:45] #546 closed

[2018-10-11 14:14] raydenx opened #548 "Please update "tar" dependency to more recent version"
The version of "tar" that is bundled with appmetrics is over two years old. While a quick search for known vulnerabilities in this version of "tar" didn't turn up anything marked as such, archiving utilities such as these are frequently found to have vulnerabilities (eg. path traversal vulnerabilities - handling of filenames with "../")  and patched.
Is it possible to upgrade "tar" to the latest v

[2018-10-16 04:08] yuecchen commented on #531
@sjanuary tested with appmetrics@4.0.0, with my pets application which have sent through mail. Still two http event is triggered for each request.

[2018-10-24 21:03] tbranyen opened #549 "gRPC Event type"
I see a lot of integrations that this module tracks and a natural one to me seems to be gRPC. Have there been any prior thoughts on this? I could see it working similar to the inbound/outbound HTTP events, but with some additional gRPC-specific metadata fields.

[2018-10-25 03:42] gustavomassa opened #550 "Usage with Node Cluster"
Hello,

How does appmetrics behave when using cluster module with different workers running?
Does it monitor all the process (Master and workers) and send the metrics assuming the node cluster is a single process? Or does it should send metrics for each running worker and a separated one for master?

#https://github.com/RuntimeTools/appmetrics-dash/issues/88

Thanks!

[2018-11-01 11:52] sjanuary commented on #549
@tbranyen it's not something we've considered and there's not a lot of ongoing development happening on appmetrics these days but we're open to pull requests if it's something you would be interested in contributing.

[2018-11-01 12:05] sjanuary commented on #550
@gustavomassa I'm not that familiar with cluster but if it's a single process then it will send all the data for the process as a while.  If it spawns a new node process for each worker then I think you will only get the data from the master process by default.  Is it [this package](https://www.npmjs.com/package/cluster) you're using?

[2018-11-01 23:20] gustavomassa commented on #550
@sjanuary hello, I'm using the built-in cluster module of nodejs: [https://nodejs.org/api/cluster.html](url)
Internally they spawns new node process for each worker.

[2018-11-02 07:58] xiaoshimimi opened #551 "Break application while enable trace"
Application: git clone git@github.com:regularjs/spa-example.git
Install Application:
[code]
add the following lines:
[code]
then run: `npm start`

Application is broken here:
[code]

[2018-11-02 08:00] yuecchen commented on #551
@yuecchen

[2018-11-05 11:44] matthewpwilson commented on #540
@mattcolegate any update on this issue? I'm still seeing it with appmetrics 4.0.0 and Node 6.14.4

[2018-11-06 10:34] sjanuary commented on #546
@tkssharma @mattcolegate FYI we're not going to be shipping binaries any longer for Node 10 and later so you'll need to either install a C++ compiler or stick with Node 8.

[2018-11-21 10:35] #526 closed

[2018-11-24 19:12] gustavomassa opened #556 "Use of Node Sync API"
Hello,

I've noticed that appmetrics internally uses the node sync API on the aspect.js file. It seems that it is using the fs sync functions, it would be easy to change to fs async api. Using the sync API could impact negatively on the event loop.

Sync functions being used:
[code]

[2018-11-28 04:11] shiyanf opened #558 "The processMean and systemMean are not correct."
Node: v8.12.0
Env: Redhat 7.6

The processMean and systemMean are both higher than 0.5, it is not correct for systemMean.
{ time: 1543377323769,
  process: 0.563199,
  system: 0.534872,
  processMean: 0.5729831764705883,
  systemMean: 0.5313571764705882 }

[2018-11-28 15:02] yuecchen opened #559 "Node.js v11 support"
appmetrics does not support to installed with Node.js v11.*, it failed to be compiled.
environment information: redhat 7.4, node.js v11.3.0, gcc 4.8.5

Install Logs:
[2018-11-28T14_57_12_372Z-debug.log](https://github.com/RuntimeTools/appmetrics/files/2625126/2018-11-28T14_57_12_372Z-debug.log)

[2018-11-28 16:37] gustavomassa opened #560 "Failling to compile using NODE LTS Version (10.14.0)"
Hello,

Appmetrics 4.0.0.1 (last commit added support to Node 10 on windows) is failing to compile on windows:

System Windows_NT 10.0.17134
MSBuild 14.0
Node: 10.14.0
Node-Gyp 3.8.0

[code]

[2018-11-29 01:34] yuecchen opened #561 "Node.js v10 cannot be installed in platforms without gcc"
I can install appmetrics with Node.js v10 only when I have gcc installed.

If the platform doesn't have gcc installed, I will got error:
[code]

I wish appmetrics could be able to provide a similar tgz package as for v8 and v6, so that don't need user to compile it.
e.g.
[code]

[2018-11-29 08:42] tobespc commented on #561
We are no longer shipping binaries for appmetrics, so anyone installing will be required to have GCC installed

[2018-11-29 08:57] tobespc commented on #560
we've just released appmetrics 4.0.1 , can you retest please as this is compiling for us

[2018-11-29 11:35] sjanuary commented on #560
@gustavomassa if you're installing from source you need to update the omr-agentcore submodule as we made changes there to fix this issue.  Maybe try a completely clean checkout or installing from npm?  I've just tried with 10.14.0 in case there was any difference to 10.13.0 and it works for me.

[2018-11-29 13:50] mattcolegate commented on #537
@abmusse Change has been merged - can you please test and see if this issue can be closed?

[2018-11-29 19:37] sebastianarena commented on #152
A little late to the party. But I finally have `mongoose` working properly with `appmetrics`.
DISCLAIMER: @lardissone and I work together, so I continued upon his work.

1) `appmetrics.enable('mongo')` needs to actually be `appmetrics.enable('mongodb')`
2) `appmetrics` needs to be required before mongo/mongoose in order for it to hook up correctly. In fact, we created our own appmetrics controller

[2018-11-30 17:37] DanailMinchev commented on #560
I have similar problem when using Docker `node:10-alpine` image:

Sorry for the long log file, but I am not sure which part can be useful for you:
[code]

[2018-11-30 18:57] mattcolegate commented on #560
Hi @DanailMinchev, Node 10 support was added in appmetrics@4.0.1 - can you try again with an updated package.json? You seem to be attempting to install appmetrics@3.1.3.

[2018-12-03 05:16] shiyanf commented on #558
We have a internal issue is opened for this.

 The service CPU usage show as about 25%, but from nmon or top, the Node process CPU usage is about 50%
<img width="758" alt="2018-12-03 1 09 29" src="https://media.github.ibm.com/user/45844/files/b7f330c8-f6fc-11e8-97a5-94f94bf6dd89">

top - 21:09:50 up 19 days, 21:37,  1 user,  load average: 1.30, 1.17, 1.24
Tasks: 109 total,   2 running, 107 sleepin

[2018-12-03 07:41] #561 closed

[2018-12-03 10:47] DanailMinchev commented on #560
Hi @mattcolegate , thank you, that was the problem, it works now!

[2018-12-03 11:56] tobespc commented on #558
What environment are you running this test in ?  Can you provide a test case to recreate this with please

[2018-12-03 15:16] gustavomassa commented on #560
The issues was related to npm cache, when I tried to update from 4.0.0 to 4.0.0.1, I had to clean the npm cache and delete the entire node modules folder to be able to compile the new version correctly.

[2018-12-04 11:40] DanailMinchev commented on #560
@mattcolegate @tobespc It looks like it is failing on another dependency now - https://github.com/RuntimeTools/appmetrics-statsd/issues/11
just wanted to notify related issue, thanks

[2018-12-06 07:11] shiyanf commented on #558
@tobespc
1. We run a Node.js application on redhat 7 with on-premise mode. You can download it from https://github.com/acmeair/acmeair-nodejs, there is git readme about how deploy it.

2. Then you need adjust your cpu cores to 2, by run the command.
[code]
3. Run JMeter to make your CPU usage to about 50%. You can refer to below jmeter file.

[nodedcperftest.zip](https://github.com/RuntimeTools/ap

[2018-12-11 16:03] mattcolegate commented on #558
@shiyanf I've tested that the CPU plugin does react when the number of processors available is changed in this way, and it does - and the internal numbers make sense.

I'm wondering if your problem is really with Appmetrics, due to your CPU object:
{ time: 1543377323769,
process: 0.563199,
system: 0.534872,
processMean: 0.5729831764705883,
systemMean: 0.5313571764705882 }

From the README:

Event:

[2018-12-11 16:33] mattcolegate commented on #558
@corbint pointed me to https://github.com/RuntimeTools/appmetrics-dash as a place where we share that kind of data via a REST API https://github.com/RuntimeTools/appmetrics-dash/blob/c8284197ccb84a7ccecf85e990232bf05ef40500/REST-API.md, so I'll work on that being where the data is coming from.

Having looked at the code, the systemMean and the processMean are calculated by averaging the system and

[2018-12-11 16:48] mattcolegate commented on #558
I've also just found out that `top` shows CPU usage based on a single core percentage:

https://superuser.com/questions/457624/why-is-the-top-command-showing-a-cpu-usage-of-799

Appmetrics averages out it's CPU usage by number of cores, so if one core is 50% loaded with Node and another is 0% loaded then we show 25% load across the whole CPU. `top` would show 50% load for Node.

To put it another

[2018-12-12 02:32] shiyanf commented on #558
@mattcolegate Thanks for your response. You mean the systemMean and the processMean are the average over the lifetime of the running program, instead of last 5 seconds or something just like top command?  It doesn't make sense.

[2018-12-12 06:44] mattcolegate commented on #558
@shiyanf Yes, that is correct. Also that `top`'s CPU usage percentage is based on the percentage of a single core that the process is using ( 1 core = 100%) instead of across all cores like Appmetrics (n cores = 100%). I believe if you press `Shift + i` when using `top` it will change the percentages to look more like Appmetrics.

[2018-12-12 07:03] mattcolegate commented on #558
From your own `top` example in the comments:

top - 21:09:50 up 19 days, 21:37, 1 user, load average: 1.30, 1.17, 1.24
Tasks: 109 total, 2 running, 107 sleeping, 0 stopped, 0 zombie
%Cpu(s): **20.4 us, 5.1 sy, 0.0 ni, 61.1 id**, 0.2 wa, 0.0 hi, 0.7 si, 12.6 st
KiB Mem : 3880532 total, 1236128 free, 311432 used, 2332972 buff/cache
KiB Swap: 16777212 total, 16777212 free, 0 used. 3222024 avail Mem

[2018-12-12 07:09] shiyanf commented on #558
@mattcolegate Thanks. Close this one.

[2018-12-12 07:09] #558 closed

[2018-12-13 20:25] dm03514 opened #563 "Documentation: MongoDB probe type changed from `mongo` -> `mongodb`"
I tried to disable mongo probe data on a super simple web app but noticed mongo probe data was still being surfaced:

[code]

Updating the disable to `mongodb` works as expected.  I was wondering if this was the case across versions?

[2018-12-13 20:57] dm03514 opened #565 "GC: Support Plugin Stop - disable"
Greetings,

I am trying to get adoption for appmetrics and it would be extremely helpfu to be able to disable gc collection through the `appmetrics.disable('gc')` call.

This is all brand new to me but it looks like there are already hooks (`ibmras_monitoring_plugin_stop`) and Nan supports the necessary [removal calls ](https://github.com/nodejs/nan/blob/master/doc/v8_internals.md#api_nan_remove_g

[2019-01-22 20:31] lardissone opened #566 "HTTP probe - add request origin details"
Include information about the origin of the request (IP Address, hostname, referrer, etc).

[2019-02-07 10:40] markcocker commented on #540
Any update on resolving this issue?

[2019-02-07 11:20] mattcolegate commented on #540
Just checked our tests - Appmetrics 4.0.1 is building and testing cleanly on Node v6.16.0 on z/OS, so I'm going to close this issue.

[2019-02-07 11:20] #540 closed

[2019-02-12 16:21] matthewpwilson commented on #525
Trying this again with 4.0.1, I get some slightly more interesting data:
	{ date: 0,
  functions:
   [ { self: 1,
       parent: 0,
       file: '',
       name: '(BrBoBoBt)',
       line: 0,
       count: 0 },
     { self: 2,
       parent: 1,
       file: '',
       name: '(BpBrBoBgBrBaBm)',
       line: 0,
       count: 0 },
     { self: 3,
       parent: 1,
       file: '^����^�?__?>\u0006��',

[2019-02-12 16:23] matthewpwilson commented on #524
Still seeing this with 4.0.1

[2019-02-13 12:12] mattcolegate commented on #524
CPU event is indeed not supported on z/OS - marked as such in the README.

[2019-02-13 12:12] #524 closed

[2019-04-03 07:40] Pigmalion opened #569 "npm appmetrics issue - again"
Hi ,
getting this error again on **npm i appmetrics**
even after deleting node_modules lib and clearing npm cache by force.

_gyp ERR! node -v v11.12.0
gyp ERR! node-gyp -v v3.8.0
gyp ERR! not ok
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! appmetrics@4.0.1 install: `node extract_all_binaries.js || node-gyp rebuild`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the appmetrics@4.0.1 inst

[2019-04-03 12:29] matth-c3 commented on #569
Hello same for me, on Mac. mojave 10.14.3
npm version 6.7.0
python 2 et 3, meme resultat.

[2019-04-08 09:57] tony429001986 opened #570 "Appmetric call stop after calling stop will cause the process to close"
[Mon Apr  8 17:55:45 2019] com.ibm.diagnostics.healthcenter.Agent.debug INFO: Agent stop : begin
[Mon Apr  8 17:55:46 2019] com.ibm.diagnostics.healthcenter.Agent.debug INFO: Exiting agent publishing loop
[Mon Apr  8 17:55:46 2019] com.ibm.diagnostics.healthcenter.Threads.debug INFO: Stopping thread pool
[Mon Apr  8 17:55:47 2019] com.ibm.diagnostics.healthcenter.Agent.debug INFO: Exiting agent pr

[2019-04-11 06:35] takahashi-jiec opened #571 "There is no description of support of node.js 10"
**I think that the description of Node.js 10 of README.md is necessary.**

----------------------------------------

### Supported platforms

The Node Application Metrics agent supports the following runtime environments where a Node.js runtime is available:

* **Node.js v4** on:
  * 64-bit or 32-bit Windows (x64 or x86)
  * 64-bit or 32-bit Linux (x64, x86, ppc64, ppc64le, s390, s390x)
  * 64-bit

[2019-04-25 03:39] yuecchen opened #572 "Cannot install appmetrics with Node.js v12 on MacOS"
With Node.js v12, run `npm install appmetrics`, we got some error while compile:

[code]

and

[code]

here is the install log:
[2018-11-28T14_57_12_372Z-debug.log](https://github.com/RuntimeTools/appmetrics/files/3114969/2018-11-28T14_57_12_372Z-debug.log)

[2019-04-26 07:49] yuecchen opened #573 "Cannot install appmetrics with Node.js v12 on Redhat Linux"
With Node.js v12, run `npm install appmetrics`, we got some error while compile:

[code]

Redhat version:
[code]
Linux core:
[code]

[2019-04-29 01:42] yuecchen commented on #571
will you support win10?

I got an error while compiling on win10:
[code]

[2019-04-29 13:34] brenovieira commented on #458
Hey guys, any update or workaround on this enhancement?

[2019-05-13 03:55] takahashi-jiec commented on #571
Try the following:
[code]

[2019-05-16 10:16] rwalle61 commented on #572
@yuecchen thanks for opening the issue, I'm working on it now

[2019-05-24 10:17] tomleah opened #575 "Cannot install appmetrics with Node.js v10 on Linux"
Failing to build appmetrics on linux x86

### Steps to reproduce:
[code]
[code]
[code]

First part of log:
[code]

[2019-05-24 11:02] rwalle61 commented on #573
@yuecchen I am fixing Node 12 for mac (re your issue https://github.com/RuntimeTools/appmetrics/issues/572), then we will look at these Linux-specific errors

[2019-05-24 11:05] rwalle61 commented on #575
@tomleah my fixes for Node 12 on mac (re. https://github.com/RuntimeTools/appmetrics/issues/572) should resolve some of these errors (for example, the `GetCpuProfiler` one). We will then fix these Linux-specific errors

[2019-05-24 11:08] rwalle61 commented on #571
@takahashi-jiec we are checking which versions we support right now and will update the doc when we know. For example, I'm currently nearly finished fixing Appmetrics for Node 12 on mac (see  https://github.com/RuntimeTools/appmetrics/issues/572).

[2019-05-27 04:42] takahashi-jiec commented on #571
@rwalle61 Thank you

[2019-05-27 04:57] yuecchen commented on #573
Could we possible accelerate the linux issues? or put it priority higher than issue 572? We plan to deliver this feature by the end of May.

[2019-05-28 13:43] mattcolegate commented on #571
@yuecchen, I've confirmed that Appmetrics installs and `npm test`s sucessfully using Node 10 on Windows 10. I suspect the problem you're having is with your build environment, as Appmetrics on Node 10 now has to build native binaries rather than having them shipped with the package. I used https://github.com/nodejs/node-gyp#option-1 to obtain a working environment. It looks like you already have s

[2019-05-28 14:23] rnchamberlain commented on #575
Appmetrics installed OK for me using the steps above, running a `node:10` image (though there were quite a few deprecation warnings)

[code]
The node level in the `node:10` image was updated recently to v10.15.3, see https://github.com/nodejs/docker-node/commit/170ed2092d4925971f9cd3ad5dfc416e820f90fd
[code]

[2019-05-28 14:45] mattcolegate commented on #569
Hi @Pigmalion , @matth-c3 ,
Can you please post the entirety of the console output you get after executing `npm i appmetrics`?

[2019-05-30 09:39] rwalle61 opened #579 "Update heapdump.cc"
Leftover work from https://github.com/RuntimeTools/appmetrics/pull/576

Re. https://github.com/RuntimeTools/appmetrics/pull/576#discussion_r287450014, rather than updating `heapdump.cc` ourselves, we should grap the latest one maintained at https://github.com/bnoordhuis/node-heapdump/blob/master/src/heapdump.cc

[2019-05-30 09:42] rwalle61 opened #580 "Fix and re-enable code coverage"
We disabled code coverage to get around test failures (see https://github.com/RuntimeTools/appmetrics/pull/578). We should debug why code coverage is broken for us, and re-enable when ready

[2019-05-31 12:49] rwalle61 commented on #572
### Update: https://github.com/RuntimeTools/appmetrics/pull/576 has been merged!

[2019-05-31 14:16] meysholdt opened #582 "Appmetrics fails to install in docker node:10.15.3-alpine image"
my `Dockerfile`:
[code]

when I run `docker build .` I get the following log output:
[code]

Do you have any pointers what's wrong here? Can I do something in my dockerfile to make `yarn global add appmetrics` work?

I'm using `yarn global add appmetrics` to have a simpler reproducible example. I actually have an app that includes appmetrics version 3.x, 4.x or 5.x via `package.json`. Thank you fo

[2019-05-31 16:04] rwalle61 commented on #572
@yuecchen can you pull Appmetrics 5.0.0 and see if you can install on Node 12?

[2019-05-31 16:17] rwalle61 commented on #575
@tomleah https://github.com/RuntimeTools/appmetrics/pull/576 should have fixed some deprecation warnings.

Also, given that the issue was about deprecation warnings rather than errors, would you mind renaming the issue to something like `Fix alarming deprecation warnings for Node.js v10 on Linux`?

I will check as to when we can schedule the work to remove the rest of the deprecation warnings

[2019-05-31 16:18] rwalle61 commented on #571
Closing as the README https://github.com/RuntimeTools/appmetrics/blob/master/README.md now describes support of Node 10

[2019-05-31 16:18] #571 closed

[2019-06-03 11:46] tomleah commented on #575
Great, thanks!

I've renamed the issue. It would be good to see these removed, as especially when doing a `docker build` you are presented with a wall of red even though they are warnings

[2019-06-03 13:03] rwalle61 commented on #582
I've managed to recreate the error; now investigating fixes

[2019-06-04 13:53] Just-Sieb opened #584 "Prebuilts for Node v10 and Node v12"
I have noticed that version 4.0.1 has the prebuilts of the native node module available for Node v8 so it does not have to compile during the install step. Can you start adding prebuilts for v10 and v12 of NodeJS as well?

[2019-06-04 14:15] mattcolegate commented on #584
I'm afraid not - we no longer have the infrastructure available to continue supplying pre-built binaries. You will have to ensure that you have the pre-requisites installed on your machine to enable binary compilation, as described at https://github.com/RuntimeTools/appmetrics#pre-requisites

[2019-06-04 14:15] #584 closed

[2019-06-04 15:38] rwalle61 commented on #582
So the error from the line [`ev._sigev_un._tid = profiler_tid;`](https://github.com/RuntimeTools/appmetrics/blob/master/src/plugins/node/prof/watchdog.h#L251) is the only one; commenting the block out (until `return NULL`) allows Appmetrics to compile and run, but without CPU profiling.

It seems to be that Linux Alpine is so trimmed down that the `sigevent` object does not have the `_sigev_un` pr

[2019-06-05 05:21] yuecchen opened #585 "trace method should not include ibmapm related code"
trace method should not include ibmapm related code

[2019-06-05 07:10] yuecchen commented on #573
verified

[2019-06-05 07:10] #573 closed

[2019-06-05 10:39] rwalle61 commented on #527
@smartmouse I think the `package.json` has now been updated https://github.com/RuntimeTools/appmetrics/blame/master/package.json#L5

[2019-06-05 10:39] #527 closed

[2019-06-05 10:41] rwalle61 commented on #572
As you closed https://github.com/RuntimeTools/appmetrics/issues/573, I assume this is safe to close too

[2019-06-05 10:41] #572 closed

[2019-06-05 10:42] rwalle61 commented on #559
As you closed https://github.com/RuntimeTools/appmetrics/issues/573, I assume this is safe to close too

[2019-06-05 10:42] #559 closed

[2019-06-05 15:51] matthewpwilson opened #588 "z/OS: FATAL ERROR: v8::ToLocalChecked Empty MaybeLocal with Node 8 beta"
Using the Node 8.16.0 z/OS beta, I compiled v5.0.0 from source after working around https://github.com/RuntimeTools/omr-agentcore/issues/84
However, running the tests I get the following results. I see the same error if I just try to `require('appmetrics')`
[code]

[2019-06-06 06:32] yuecchen opened #589 "appmetrics have conflict with appmetrics-zipkin when enable trace"
appmetrics have conflict with appmetrics-zipkin when enable trace

here is the error message:
[code]

code may like the following:

[code]

[2019-06-07 08:50] rwalle61 commented on #582
@meysholdt, we've disabled watchdog on linux alpine. Would you mind confirming whether this has resolved your issue?

[2019-06-07 08:51] #585 closed

[2019-06-07 09:44] rwalle61 commented on #589
Thanks, we will recreate this then let you know the resolution

[2019-06-09 14:10] meysholdt commented on #582
Thanks a lot for the fix!

Running `docker build` on the following Dockerfile succeeds for me:

[code]

[2019-06-10 08:41] #582 closed

[2019-06-10 08:51] rwalle61 commented on #454
As far as we know, the latest master build of Appmetrics should build on Alpine now. See  https://github.com/RuntimeTools/appmetrics/issues/582#issuecomment-499808864.

[2019-06-10 09:10] meysholdt commented on #582
:-D Will there be a release soon with this fix?

[2019-06-11 16:32] gabylb commented on #588
Till the above fix and that for https://github.com/RuntimeTools/omr-agentcore/issues/84 are merged, please try:
[code]

[2019-06-12 15:36] matthewpwilson commented on #588
Thanks @gabylb this is working for me with the above branches

[2019-06-12 19:13] tobespc commented on #589
I don't think these 2 play well together.   You probably need to disable the trace probe in app metrics if using zipkin as that has similar functions

[2019-06-14 03:11] yuecchen opened #590 "data for 'http' event is contains duplicated request"
Steps to recreate the problem
1. With appmetrics v5.0.0, add the following code in application:

[code]

2. Add a traffic of 2000 per minute with jmeter:
3. collect the log, and you will see many duplicated requests:

![image](https://user-images.githubusercontent.com/24837518/59480899-ecc2bc80-8e94-11e9-9c32-0c31206cc8d2.png)

The sum count of the requests is correct, so, the duplication also mea

[2019-06-14 07:31] yuecchen commented on #590
Here is the log, if you skip to the end of the file, the duplication is more and more.
[collect.log](https://github.com/RuntimeTools/appmetrics/files/3289505/collect.log)

And it is run by appmetrics 4.0.1

[2019-06-14 10:03] rnchamberlain commented on #590
To clarify, Hui says "this is not a regression, according to Yue's testing, the problem exists in 4.01"

[2019-06-14 15:25] rnchamberlain commented on #590
The log file does show approximately 30 entries per second, which matches the jmeter load, and there are a large number of duplicate data entries. We think it is a problem with the appmetrics http probe, but we are still investigating...

[2019-06-17 05:58] jinnyum opened #591 "mysql pool metrics issue"
There's still a problem.

To solve this problem, do this

node_modules/appmetrics/probes/mysql-probe.js

line 34   'createConnection'   => 'createPool'

^_^

[2019-06-17 12:31] mattcolegate commented on #590
This might be an issue with the way JMeter issues regulates request throughput - I've just had this running using curl (eyeballing around 700 requests per min) and didn't see duplicates. Attempting to up the throughput using a more powerful machine than my Linux VM.

[2019-06-17 13:57] mattcolegate commented on #590
I've now run the test through Jmeter on a more powerful machine, and while I am getting identical timings and durations, I can prove that appmetrics is not loosing requests.
I added a Counter in Jmeter and put the value of that into each request as a header. I then altered app.js to output the data.requestHeader and the resultant log shows that one and only one event was output per request, with n

[2019-06-17 18:10] mattcolegate commented on #590
The problem exists because of the level of stored 'context' is too high. When we instrument the http functions we create a context object that is stored at the function level. The idea is that we use this object to store the start and end times of each request as it comes through the probe and use that to calculate our duration. However, because this context object is stored at the function level

[2019-06-17 18:23] mattcolegate opened #593 "Check that probes have satisfactory timing levels"
Issue #590 was caused by the http(s) probes using the timing contexts at the functional level (stored in aspect.js). This is fine for probes that can expect big enough gaps in their event flow that the events pass singularly through the instrumented function, but not for probes whose events are rapid. The probes should be examined for speed, and if necessary have their own timing contexts stored a

[2019-06-17 18:25] #536 closed

[2019-06-18 05:05] yuecchen commented on #590
@mattcolegate Thank you for the quick investigation and finding out the root cause.

[2019-06-19 04:05] yuecchen commented on #590
@mattcolegate Could you please help provide a test driver of the fix, so that we have have a quick verify.

[2019-06-19 07:38] tobespc commented on #590
I tested this last night myself and confirmed it worked, will release today

[2019-06-25 14:03] gabylb commented on #588
I created PR https://github.com/RuntimeTools/appmetrics/pull/598
but one of the tests (node-v8 on osx) failed:
https://travis-ci.org/RuntimeTools/appmetrics/builds/549853836

in what seems an environment issue while TAP was removing some temp file.

@mattcolegate can you please advise how to proceed.

[2019-06-25 14:35] mattcolegate commented on #588
@gabylb Couldn't see a problem in your changes, so re-ran the offending travis build and it passed, so I'm going with Travis Environment Glitch :-)

[2019-06-25 14:40] mattcolegate commented on #590
PR has been merged; closing issue

[2019-06-25 14:40] #590 closed

[2019-06-26 13:17] #588 closed

[2019-06-26 13:36] mattcolegate commented on #575
@tomleah Can you check and see if this issue is now resolved please? I've just run a Windows build and didn't see the specified warnings

[2019-06-27 13:09] MaxVinogradov commented on #582
Hi! Faced with this problem too. When will it be approximately fixed?

[2019-07-01 09:09] tomleah commented on #575
Still seeing a few deprecation warnings on appmetrics@5.0.3 but seem to be greatly reduced @mattcolegate

[2019-07-01 09:59] mattcolegate commented on #575
@tomleah can you post a full install log to this issue please?

[2019-07-01 15:48] tomleah commented on #575
Here is my full log when doing `npm install appmetrics` @mattcolegate
[code]

[2019-07-01 22:51] piotr-s-brainhub commented on #504
I have a problem with that - I updated `yarn.lock` so `appmetrics` version changed from `4.0.1` into `5.0.2` so build fails with:
[code]

[2019-07-05 06:16] yuecchen opened #601 "appmetrics trace cannot handle function with more than 9 parameters"
Steps to recreate the problem:
1. use acmeair or other tested application
2. modify any method to have more than 9 parameters, e.g. I modify bookflights function in routes/index.js as following:

[code]
3. add the following line in the first line of this app.js:
[code]
4. start the application

Error message is as following:

[code]

[2019-07-05 08:46] mattcolegate commented on #601
Hi @yuecchen ,
As you know, we have to return a function in https://github.com/RuntimeTools/appmetrics/blob/master/probes/trace-probe.js#L71 containing the exact number of arguments to the target function, and you are right, our current limit is nine. Can you please suggest a suitable upper limit for number of arguments to a function that you have in mind?

[2019-07-05 08:52] yuecchen commented on #601
We currently have a requirement from customer to support a function with 12 parameters. No more parameters have been seen by now.

[2019-07-08 05:37] yuecchen commented on #601
add some code for this fix, could you please help check and merge the pull request?

[2019-07-11 05:12] yuecchen commented on #589
Didn't find same problem in appmetrics 5.0.3

[2019-07-11 05:12] #589 closed

[2019-07-13 17:01] rhowe-gds commented on #454
I think we're close..

[code]

Introduced by commit 7b11cfe5a7526acb022388fc04148b788ab6ef7d, but `pthread_getname_np` is not available in musl libc (only setname)

[2019-07-22 02:27] yuecchen opened #603 "Question: why 'loop' event is occur by 4 seconds and 6 seconds, not 5 seconds"
I add the following lines in the top of application:

[code]
And I will got the following logs:
[code]
the duration is 4 second then 6 second, but the README says it should be a 5 seconds summary data. Could you please help explain?
1. why the duration is not 5 seconds and it is so exactly 4 and 6 seconds?
2. will the metrics value is for 5 second summary or for 4 and 6 seconds summary as the actu

[2019-07-31 10:27] matthewpwilson opened #604 "npm install fails on z/OS"
[code]
Using Node 8.16.
I'll attach the full log.

[2019-07-31 10:27] matthewpwilson commented on #604
[npm-debug-appmetrics.log](https://github.com/RuntimeTools/appmetrics/files/3451233/npm-debug-appmetrics.log)

[2019-07-31 13:36] mattcolegate commented on #604
Process.cwd() is a base Node.js function - https://nodejs.org/dist/latest-v8.x/docs/api/process.html#process_process_cwd
What happens if you run `console.log('Current directory: ${process.cwd()}');`
If you get the same error, then the problem is likely with base Node.js rather than Appmetrics.

[2019-07-31 13:43] mattcolegate commented on #604
A cursory google for 'process.swd no such file or directory' turns up a few instances where this happens when a Node application is running in a directory that has just been deleted by another terminal session. This can be checked by exiting the application, changing directory to root and back again.

[2019-08-08 07:02] louiemiranda opened #605 "npm install -g bluemix-autoscaling-agent"
Was trying to install the node-gyp, under a bluemix-autoscaling-agent. However, it's having a python error.

[code]

[2019-08-08 07:23] mattcolegate commented on #605
Hi @louiemiranda, I think this problem is because you're building with Python 3.x, which node-gyp doesn't currently support. Are you able to install Python 2.x and use that to build with? I'm aware that we're right up against Python 2's end of service life, but until node-gyp can use Python 3 there's not a lot we can do about it :-(

[2019-08-08 07:28] louiemiranda commented on #605
Hi @mattcolegate oh, I see. Yes, I can just use Python 2.x for now. Should be no problem. Thanks for the info. Hope the 3.x series can support it in the future.

Again, many thanks !

[2019-08-08 07:30] mattcolegate commented on #605
No problem @louiemiranda, please close this issue if Python 2.x works ok!

[2019-08-12 09:40] yasir-rafiq commented on #569
getting same error as above.

[2019-08-12 11:13] mattcolegate commented on #569
Hi @yasir-rafiq,
Can you please post the entirety of the console output you get after executing npm i appmetrics?

[2019-08-13 22:10] exp-dev-dj commented on #511
'http-outbound'/'https-outbound' events return undefined response statusCode if client uses `request`, `request-promise` or any other http libraries that do not use callback when making http.request.   They mention this in the code comment (https://github.com/RuntimeTools/appmetrics/blob/master/probes/http-outbound-probe.js#L91), but there is no explanation on work-around for popular http librarie

[2019-08-13 22:12] exp-dev-dj opened #606 "Please update your documentation to mention that http(s)-outbound does NOT work with libraries like `request` which doesn't use callback when making http.request"
'http-outbound'/'https-outbound' events return undefined response statusCode if client uses `request`, `request-promise` or any other http libraries that do not use callback when making http.request.   They mention this in the code comment (https://github.com/RuntimeTools/appmetrics/blob/master/probes/http-outbound-probe.js#L91), but there is no explanation on work-around for popular http librarie

[2019-08-21 14:52] mattcolegate commented on #605
@louiemiranda Can this issue be closed now?

[2019-08-21 14:53] mattcolegate commented on #604
@matthewpwilson Are you still experiencing this issue?

[2019-08-21 16:16] matthewpwilson commented on #604
Yes, but it does appear to be a general problem with npm/node-gyp on my system :-(

[2019-08-21 16:16] #604 closed

[2019-08-23 10:27] yasir-rafiq commented on #539
facing the same problem any solution?

[2019-08-23 10:40] mattcolegate commented on #539
@yasir-rafiq it turned out that appmetrics wasn't building correctly in that user's environment - check you have an `appmetrics.node` file in your `appmetrics` directory and review the installation logs for build errors

[2019-08-27 10:17] mattcolegate commented on #582
This issue is fixed in the latest release of Appmetrics (5.0.3). There is no currentl outlook on when RuntimeTools/omr-agentcore#90 will be fixed.

[2019-09-06 10:07] connorjburton opened #608 "Install fails on Node 12 on Windows"
Hi,

See the log below, failing to install on Windows Node 12.10.0

[ConEmu-2019-09-06-p2052.txt](https://github.com/RuntimeTools/appmetrics/files/3583420/ConEmu-2019-09-06-p2052.txt)

[2019-09-06 10:41] mattcolegate commented on #608
Can't reproduce using my Windows 10 machine with Node 12.10.0 installing appmetrics latest (5.0.3) from npm. I notice the errors you're getting in that log are all for files in `c:\\node_modules\nan` - it might be worth clearing that directory out and letting npm download a fresh version?

[2019-09-06 13:49] connorjburton commented on #608
After uninstalling and installing again the issue has resolved itself. Recently switched to `nvm` for node version management which may have been the catalyst.

Will close this and thanks for the super quick response!

[2019-09-06 13:49] #608 closed

[2019-09-06 18:57] mytlogos opened #609 "instanceof Promise always false"
As this module seems to wrap the native Promise in NodeJs? the 'promise instanceof Promise' check will always return false.

I used a 'promise.then' check as a replacement, but typescript does not seem to accept it readily.

Is there a way to still use 'instanceof Promise'?

[2019-09-14 14:38] webTOdev opened #610 "Appmetrics 5.0.3 fails to build with node:12-alpine"
Hi,
I am using Appmetrics 5.0.3 and node:12-alpine, but when I run **yarn production** command I get an error.
I have tried https://github.com/RuntimeTools/appmetrics/issues/438 already with no luck.
My docker file
[code]

The error I am getting is ,
[code]

[2019-09-16 13:37] mattcolegate commented on #610
This has been raised at https://github.com/RuntimeTools/omr-agentcore/issues/90 which is where the a fix will go in, if there is one - I'm hoping for support for `pthread_getname_np` :-) Please re-open this issue if you don't agree that it's the same problem.

[2019-09-16 13:37] #610 closed

[2019-09-17 06:22] yuecchen opened #611 "'http' event triggered twice"
here is our code to using appmetrics:
[code]

I triggered request manually, and each trigger will generate two exactly same request:

[code]
it would happen when I do `/api/pets` or `/api/pets/xxx` request, only one event is trigger when I use `/`

a sample application will is uploaded:
[pets.zip](https://github.com/RuntimeTools/appmetrics/files/3619552/pets.zip)

[2019-09-19 13:17] mattcolegate commented on #454
OK, that's fixed and out on npm - Appmetrics 5.0.5 works on Alpine. Any problems, raise an issue!

[2019-09-19 13:17] #454 closed

[2019-09-19 13:21] mattcolegate commented on #548
I believe we're now pulling in the latest `tar`, so am closing this issue.

[2019-09-19 13:21] #548 closed

[2019-09-19 13:24] mattcolegate commented on #569
Closing this issue as not getting a response from OP - please will you all try again with the latest appmetrics (5.0.5) and raise a new issue if there continues to be a problem?

[2019-09-19 13:24] #569 closed

[2019-10-04 19:26] robolivable opened #616 "Appmetrics crashes Node if required after initializing honeycomb-beeline"
#### What is wrong
Requiring appmetrics any point after calling `require('honeycomb-beeline')()` causes this nasty stack:
[code]
#### What is expected
Appmetrics loads without showing `FATAL ERROR` and NodeJS does not exit as a result.
#### Additional info
You can use the following Node application to reproduce the issue:
`test.js`
[code]
`package.json`
[code]

[2019-10-04 19:44] robolivable commented on #616
It appears that the call to `ToLocalChecked` on [this line](https://github.com/RuntimeTools/appmetrics/blob/master/src/appmetrics.cpp#L616) may be the culprit...

[2019-10-07 20:35] kosmjon commented on #454
Thank you very much for this fix!

[2019-10-14 00:28] lachlanhunt opened #617 "Please upgrade node-gyp to eliminate dependence on python 2.7"
This package requires an old version of node-gyp, which appears to get called in an install script. Unfortunately, it depends on node-gyp 4.x, which unfortunately requires python 2.7.

node-gyp v5.0.5 or later added support for python 3 and since python 2 will be end of life very soon, please upgrade this dependency.

[2019-10-16 22:43] isabelleweber opened #618 "appmetrics is missing a bundled dependency "tar""
This error comes up when running `yarn`, with appmetrics as a dependency listed in my package.json

<img width="822" alt="Screen Shot 2019-10-17 at 9 07 07 am" src="https://user-images.githubusercontent.com/4495336/66962761-91f8d600-f0bd-11e9-984c-d426d865eaff.png">

[2019-10-23 14:50] mattcolegate commented on #605
Closing this issue as it's been a couple of months with no contact. Please reopen if you are still having problems.

[2019-10-23 14:50] #605 closed

[2019-10-31 10:45] mattcolegate commented on #616
So am I right in thinking you want to instrument only part of your Node application, excluding `honeycomb-beeline` from being monitored?
From the README:
[code]

[2019-10-31 11:43] mattcolegate commented on #580
Although #623 restores the old behavior, now that Travis supports Windows builds this will cause all Windows builds to fail, as they can't run the `get_code_cov.sh` script. Therefore I'm cancelling the PR and putting this item back into New issues, as it'll take some extra work to support Windows.

[2019-10-31 16:53] #618 closed

[2019-10-31 16:53] #617 closed

[2019-10-31 18:37] robolivable commented on #616
@mattcolegate I reached this edge case in a project that was already using Honeycomb instrumentation.

Is it impossible to have two instrumentation tools working without this type of conflict?

I would like to benefit from the application-level instrumentation appmetrics enables while still getting the visualization tools Honeycomb provides.

[2019-10-31 18:40] robolivable commented on #616
Also to answer your question directly, yes, I would like to exclude `honeycomb-beeline` from being monitored/instrumented.

[2019-11-01 00:43] lukiano opened #626 "Suggestion: Update `nan 2.x` to nan `^2.14.0`"
I was updating this library from 4.x to 5.x to add support for Node 12, but my building kept failing. Finally the reason was that `yarn` wasn't updating the version of `nan` as the package.json file still said `2.x`. I had to run `yarn upgrade` to actually make it get the latest version of `nan` (with Node 12 support), which defeats the purpose of having a lock file at all.

[2019-11-01 11:56] mattcolegate commented on #626
I've no experience of installing using `yarn`, but we don't ship a lock file to my knowledge - `package.json` lists the dependencies that need resolving together with rules on which versions will satisfy the requirements. `2.x` means a range of versions where the `major` part of the `semver` is `2`, so the range `>=2.0.0, <3.0.0` which encompasses `2.14.0`. `^2.14.0` means a range of versions wher

[2019-11-01 12:00] #626 closed

[2019-11-01 14:57] #601 closed

[2019-11-01 23:05] lukiano commented on #626
From that same page:

^1.2.3 := >=1.2.3 <2.0.0

Hence ^2.14.0 means >=2.14.0 <3.0.0

[2019-11-04 07:13] n1th1l commented on #572
This is not working on v12.13, also tried on v12.6

[2019-11-04 07:21] n1th1l opened #627 "Not able to install on node v12.13(LTS)"
![Screen Shot 2019-11-04 at 12 45 56](https://user-images.githubusercontent.com/31035540/68104512-53f31300-ff01-11e9-8cf4-2a6d4f647a34.png)

- I'm not able to install with node v12.13.0, also tried with v12.6.0.
- The system is macOS v13.6

[2019-11-04 10:27] mattcolegate commented on #572
@n1th1l Our Travis test for Appmetrics 5.1.1 on Node 12.13 on MacOS passed cleanly: https://travis-ci.org/RuntimeTools/appmetrics/jobs/606748803?utm_medium=notification&utm_source=github_status
Can you provide some more detail on the problems you are seeing please?

[2019-11-04 10:30] mattcolegate commented on #627
@n1th1l Our Travis test for Appmetrics 5.1.1 on Node 12.13 on MacOS passed cleanly: https://travis-ci.org/RuntimeTools/appmetrics/jobs/606748803?utm_medium=notification&utm_source=github_status
Can you provide the entire console output from when you typed `npm install appmetrics` please?

[2019-11-04 11:01] n1th1l commented on #627
[code]

[2019-11-04 11:47] mattcolegate commented on #627
@n1th1l The errors in the log you've included aren't coming from appmetrics, but from nan, which is included in appmetrics as a dependency:
[code]
Can you check the version of nan being pulled in? Appmetrics specifies `2.x` so it should pull the latest version. You might need to run `npm update` on Appmetrics

[2019-11-04 14:53] gustavomassa commented on #152
@sebastianarena

I'm not able to enable/use the mongo/mongodb metrics. I'm using the mongodb native driver.
The require of appmetrics is the first thing on the Main file, I'm using node cluster module.
All the other metrics are working fine for both master and all workers.

[code]

[2019-11-04 15:03] sebastianarena commented on #152
@gustavomassa Yep, it's hard. appmetrics works great... when you get to see it running. Mongo is certainly one of the trickiest ones. It took us days to figure out. Nothing I can say will make your configuration working... the real truth is that any sort of connection to external resources like MongoDb needs to happen after you require appmetrics and enable it. Period. If you do that, you might ge

[2019-11-05 16:05] sam-github commented on #575
@mattcolegate We see this when building apps using @cloudnative/health-connect and appmetrics-prometheous, on 10.17. Output after `mkdir use-appmetrics; cd use-appmetrics; npm init` is below.

Any chance of getting  it fixed?

[code]

[2019-11-15 03:11] yuecchen opened #629 "keystone application crash when enable 'trace'"
[keystoneForjoyce.zip](https://github.com/RuntimeTools/appmetrics/files/3849629/keystoneForjoyce.zip)

Firstly, we just add
[code]
to application, and run the application, it runs good:

[code]

Then, we add such a line after the `require('appmetrics')` line:
[code]
then restart the application, it crash at once:
[code]

[2019-11-20 23:05] Thinkscape commented on #550
This issue is ancient, but I can answer it for you.

Appmetrics nodejs plugin will be collecting process memory usage *per thread*, so if you use clustering or forking, it will separately report each thread's usage. Moreover, if the tags overlap, your reporting solution might actually show you the last-sent-value only.

For example, on a 2-core node, your node app will spawn 2 worker threads. If e

[2019-11-21 04:11] n1th1l commented on #627
This works fine now, issue was with other dependency packages

[2019-11-21 04:11] #627 closed

[2019-11-26 11:13] Ethns commented on #627
I encountered the exactly same issue in windows 7

[2019-12-05 10:33] smeijer opened #630 "Request for Apollo/Graphql probe"
It would be nice to have a probe that is able to log the response time and perhaps also the response size of apollo/graphql (field) resolvers.

That way it becomes easier to trace down the slow resolvers, and focus on optimizing those first.

If we log the path of the resolver, we could even use it to see if `deprecated` resolvers are still being used, and adjust our deprecation plan based on thos

[2019-12-06 12:36] smeijer opened #631 "Mongo aggregate doesn't output correct duration"
When running aggregate queries against mongo, the probe reports sub-millisecond response times. My guess is that the `aggregate` query is being measured, excluding the `toArray` op. Similar find queries report ~ 20ms response times.

[2019-12-06 12:40] smeijer opened #632 "Mongo probe doesn't support promise interface"
The mongo probe doesn't report anything when using the promise interface:

**supported**
[code]

**unsupported**
[code]

_Thereby also unsupported_
[code]

I use the `find` query here as an example, but the same is true for the other operations.

[code]

[2019-12-18 06:48] qibobo opened #633 "Man-in-the-Middle vulnerability in dependency https-proxy-agent"
Our customer reported a Man-in-the-Middle vulnerability in bluemix-autoscaling-agent caused by https-proxy-agent v2.2.4.
The module [bluemix-autoscaling-agent](https://www.npmjs.com/package/bluemix-autoscaling-agent) uses the latest version appmetrics v5.1.1 and https-proxy-agent v2.2.4 is a dependency of appmetrics.
As it is mentioned https://hackerone.com/reports/541502, the vulnerability has be

[2019-12-18 14:45] mattcolegate commented on #633
Appmetrics does not explicitly depend on `https-proxy-agent`, but one of our dependencies does:
`appmetrics` -> `ibmapm-embed` -> `ibmapm-restclient` -> `https-proxy-agent`
I've raised https://github.com/IBM/node-ibmapm-restclient/issues/4 to try and get `ibmapm-restclient` updated, and will follow up with an issue to `ibmapm-embed` once that is satisfactorily resolved.

One of our devDependencies

[2019-12-18 15:45] mattcolegate commented on #633
https://github.com/IBM/node-ibmapm-restclient/commit/7200d87bedc69596f35b6d1604046ae7a49fffb9 has updated the `https-proxy-agent` dependency for `ibmapm-restclient` to `4.0.0`. This has percolated through to `bluemix-autoscaling-agent` successfully within existing dependency restrictions and therefore this issue can be closed.

[2019-12-18 15:45] #633 closed

[2020-03-14 14:16] CherryDT opened #634 "Including appmetrics breaks promisified setTimeout"
node v12.10.0, appmetrics v5.1.1

Test case:

[code]

Result:

[code]

[2020-04-20 04:35] BannerBomb commented on #634
Same here for Node v13.0.1. But it's the async-listener package that's causing this since it's overriding the core Promise class with a custom one WrappedPromise.

[code]

this is the dependency package list for which package requires what ending at the async-listener package.

[2020-04-28 23:21] mattcolegate opened #637 "Windows automated tests broken on all node versions except 10"
Travis results show Windows tests are failing on all node versions apart from 10. This issue is for investigation into and solution for the problem.

[2020-05-13 07:52] Janakiramkjr opened #638 "Unable to install appmetrics"
Hello All,
  I could able to install appmetrics on windows laptop. I am using the node V10.20.1
  I am encountering the below error which attempting to install appmetrics

internal/modules/cjs/loader.js:807
  return process.dlopen(module, path.toNamespacedPath(filename));
                 ^

Error: The specified procedure could not be found.
\\?\C:\Users\janaki\node_modules\appmetrics\appmetrics.n

[2020-05-13 08:05] mattcolegate commented on #638
Hi @Janakiramkjr,

This looks like you haven't installed appmetrics. To do so, you either need to run `npm install appmetrics` in the directory where your Node.js application code is, or if you want to install globally (so all applications anywhere can use appmetrics) then run `npm install -g appmetrics`.
If you have done this already can you tell me where your Node.js application is (directory),

[2020-05-13 08:45] Janakiramkjr commented on #638
Hello Matt,

  Thank you for the quick response. I have done in installation directory but still i could able to see the same error.
C:\Program Files\nodejs>npm install -g appmetrics
internal/modules/cjs/loader.js:638
    throw err;
    ^

Error: Cannot find module 'appmetrics/start'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:636:15)
    at Function.Module._load (inter

[2020-05-13 08:54] mattcolegate commented on #638
Hi @Janakiramkjr,
Can you post the console output you got from `npm install -g appmetrics` please?
Also can you post the lines in your Node.js code where you are requiring and setting up appmetrics please.

[2020-05-13 11:01] Janakiramkjr commented on #638
Hello Matt,

 Please find the below console output when i have install appmetrics

internal/modules/cjs/loader.js:638
    throw err;
    ^

Error: Cannot find module 'appmetrics/start'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:636:15)
    at Function.Module._load (internal/modules/cjs/loader.js:562:25)
    at Module.require (internal/modules/cjs/loader.js:692:17)

[2020-05-13 11:10] neilyoung opened #640 "Probably stupid question, but is it supposed to run via HTTPS?"
The thing is: It doesn't show anything useful if the server is running secure

[2020-05-13 12:01] mattcolegate commented on #638
Hi @Janakiramkjr,

I think the output above is what you get when you try to start your service.
I would like the output obtained when you ran `npm install -g appmetrics`, to check to see if the installation went smoothly.
I don't know anything about IBM API Connect, but if you can also send me anything about the service you are trying to start (like it's name, or maybe a documentation page on how

[2020-05-13 12:08] mattcolegate commented on #640
Hi @neilyoung,

appmetrics is designed to run alongside a Node.js application to provide monitoring information for that application. It doesn't matter to appmetrics if your application outputs to console, HTTP or HTTPS, it will run alongside just the same.
Information from appmetrics can be output by your application by utilising the `monitoring.on` function to obtain the monitoring data as an ob

[2020-05-13 12:17] Janakiramkjr commented on #638
Hello Matt,
  No this error is not related when i am starting the service, i am getting this error when i am trying to install appmetrics.
  Below is the link which i am following for creating a loopback service in API Connect.
https://www.ibm.com/support/knowledgecenter/en/SSMNED_5.0.0/com.ibm.apic.toolkit.doc/tapim_cli_install.html
Please let me know if you need more information.

[2020-05-13 12:25] mattcolegate commented on #638
Hello @Janakiramkjr ,
So when you issued the command `npm install -g appmetrics` in an Administrator shell, you got the output about not being able to find appmetrics/start? And that's the whole output? I ask because I am expecting to see some native code compilation in the output of that command.
The link above does not mention installing appmetrics, only apiconnect. I am not sure what you are tr

[2020-05-13 12:33] Janakiramkjr commented on #638
Hello Matt,

  Yes you are right i am issuing a command npm install -g appmetrics in a command prompt (which i have opened as an administrator) i am getting the error.
I dont know why it was referring to appmetrics.

[2020-05-13 12:33] neilyoung commented on #640
This is what I'm using. And it just displays a screen full of empty field:

![image](https://user-images.githubusercontent.com/731020/81812391-583e5f80-9526-11ea-9bd5-31d1e7205692.png)

Setup like so:

(package.json):
` "appmetrics-dash": "^5.3.0",
`
Then first line of my server code:

[code]

As far as I know that was it.

My server is started like so:

[code]

A call to the dashboard route bring

[2020-05-13 12:37] Janakiramkjr commented on #638
Hello Matt,

 I have installed Node version v10.20.1 in my laptop. Do we have any issue with this version of node. Please advice.

[2020-05-13 12:45] mattcolegate commented on #638
Hi @Janakiramkjr
So here's what I get when I issue that command - this is the kind of output I'm expecting:
[npmAppmetricsInstall.txt](https://github.com/RuntimeTools/appmetrics/files/4621997/npmAppmetricsInstall.txt)

There are no known issues with appmetrics on Node.JS v10.21.1 (https://travis-ci.org/github/RuntimeTools/appmetrics/jobs/686469656)

Perhaps try running `npm uninstall -g appmetrics

[2020-05-13 12:49] Janakiramkjr commented on #638
Hello Matt,

  Please find my log
Microsoft Windows [Version 10.0.18363.778]
(c) 2019 Microsoft Corporation. All rights reserved.

C:\WINDOWS\system32>node -v
v10.20.1

C:\WINDOWS\system32>npm install -g appmetrics
internal/modules/cjs/loader.js:638
    throw err;
    ^

Error: Cannot find module 'appmetrics/start'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:636:15)

[2020-05-13 12:55] mattcolegate commented on #638
@Janakiramkjr Please try running npm uninstall -g appmetrics to clean up what's there and then install again.
If that doesn't work, please try deleting C:\Users\<userName>\AppData\Roaming\npm\node_modules\appmetrics and then installing again.

[2020-05-13 13:03] mattcolegate commented on #640
That's interesting - there's code in `appmetrics-dash` to support both https and http servers - I wonder if it's being thrown off by your http redirect server? Does it work if you create a http server rather than a https server?

[2020-05-13 13:07] neilyoung commented on #640
Will check later and let you know

[2020-05-13 13:12] Janakiramkjr commented on #638
Hello Matt,
  No luck. I followed the steps stated in your message but no luck. Something messed up. I have search node_modules in my C drive and i dont find any but still i dont know the reason why i am getting this error.
Any inputs please

[2020-05-13 13:17] mattcolegate commented on #640
I threw together a quick sample HTTPS server and can confirm that appmetrics-dash appeared on https://localhost:3000/appmetrics-dash with meaningful data

[test.js.txt](https://github.com/RuntimeTools/appmetrics/files/4622126/test.js.txt)

[2020-05-13 13:18] Janakiramkjr commented on #638
Hello Matt,
  Found the issue. I have set the Node_Options in environment variable which is creating the issue. I have removed it and when i have issued the command it worked. I have to see whether i can start my service or not. Thank you for your prompt responses.

[2020-05-13 13:38] mattcolegate commented on #640
I've now recreated your issue using your code snippet above - it looks like although the dashboard is available in both places data is only being sent to one of them. Your secure site's appmetrics-dash is empty, but your http redirect's one (on `http://<host>:80/appmetrics-dash`) is populated with data.

[test.js.txt](https://github.com/RuntimeTools/appmetrics/files/4622188/test.js.txt)

To get yo

[2020-05-13 13:41] mattcolegate commented on #638
Glad you finally got to the bottom of it @Janakiramkjr - I have to admit I was running out of ideas! If your problem is solved would you close this issue please?

[2020-05-13 13:50] #638 closed

[2020-05-14 12:18] neilyoung commented on #640
Cool. Thanks. As you said, it works via HTTPS, if I omit HTTP. Will try your latest suggestion now.
Having another problem on the same machine with another node server running at 8443, secure.

Same setup: First line the require statement. No HTTP server only HTTPS.

The first attempt to get the dashboard crashes the node server:

[code]

Reproducible. With each attempt to access something.

[2020-05-14 19:42] neilyoung commented on #640
OK, found it. I had to place the call to

`dash.monitor({ server: server })  // Does not work yet
`

after all

app.thisandthat setups

[2020-05-14 19:45] neilyoung commented on #640
Just one thing: There is a file `resourceRegistry.log` written by your plugin. Can this be omitted?

[2020-05-14 20:35] mattcolegate commented on #640
Unfortunately at the moment it can't - it's generated automatically by one of our dependencies' dependencies. There is an open issue for it at https://github.com/IBM/node-ibmapm-restclient/issues/5

[2020-05-14 20:41] neilyoung commented on #640
Ok. Understand. What about authentication? Haven't found yet.

[2020-05-15 07:16] mattcolegate commented on #640
Currently `appmetrics-dash` doesn't have built-in security such as authentication-based access. We do support the passing through of code to run when the endpoint is hit via `<appmetrics-dash>.attach(options.middleware)` or `<application-dash>.monitor(options.middleware)` so it should be possible to put a third-party security solution in place.

[2020-05-15 18:36] neilyoung commented on #640
@mattcolegate May I ask you, what the `mqtt` broker thing does? Is it required to monitor the things, via the `appmetrics-dash` route?

Then: Is there a way to add own probes, like counters etc?

[2020-05-18 08:37] mattcolegate commented on #640
MQTT http://mqtt.org/ is a transport mechanism that can be used by appmetrics to communicate with an MQTT broker, such as https://mosquitto.org/. It is not required to monitor things via the appmetrics-dash route.
You can certainly add your own probes - there is no official guide, but there are some pull requests that you can look at to get an idea of what to do.

[2020-05-18 08:39] neilyoung commented on #640
OK, thanks. I don't need that. Can MQTT be disabled at all?

[2020-05-18 08:45] mattcolegate commented on #640
Change `com.ibm.diagnostics.healthcenter.mqtt=on` to `off` in `.../node_modules/appmetrics/appmetrics.properties`

[2020-05-18 08:51] neilyoung commented on #640
Cool. Thanks.

[2020-05-18 08:51] #640 closed

[2020-05-21 23:00] acheronfail opened #641 "Build fails with GCC version 10.1.0"
I've noticed that building appmetrics with the latest version of `gcc` fails.
I've tried this on multiple node versions (10, 12 & 13).

The last good working version of `gcc` is `9.3.0`.
Building it with `10.1.0` fails with the following output:

[code]

Some information about my system:

[code]

And I've confirmed the issue fails to build with `gcc 10.1.0` on various node versions:

[code]

Downg

[2020-05-28 15:37] djcuvcuv opened #642 "Outdated node-gyp dependency throws error upon npm i"
Hi everyone,

_**The Issue:**_ appmetrics appears to be using an outdated version of node-gyp, and the below error returned from node-gyp upon installing appmetrics has been resolved in later (not even the latest) version of node-gyp. For more info: https://github.com/nodejs/node-gyp/issues/2142#issue-626074217

I've found a workaround, albeit a hacky one, which I've expounded upon below. Thanks i

[2020-05-28 15:41] #642 closed

[2020-05-28 15:42] djcuvcuv commented on #642
no longer confident that this is an issue explicitly from appmetrics. i see dependencies in my usr local dir, which seems to be at fault. apologies for any confusion.

[2020-06-12 18:57] pedroricardo opened #643 "monitor HTTP"
I can monitor invalid http requests( HTTP 401, 403 ou 429) with the 'http-outbound' / 'https-outbound' event?

[2020-07-08 20:28] tolyakir commented on #643
HTTP Incoming Requests and Throughput charts are empty for some reason.

[2020-08-24 03:10] mitermayer commented on #641
same problem here! do we have plans on fixing this ?

[2020-08-24 03:31] mitermayer commented on #641
@acheronfail I actually realized that I have the same issue as you and the same system since we both work at the same place and are falling with the same project. How did you manage to solve this issue? I tried to find you on slack but could not find you based on your GitHub username alone

[2020-08-25 00:26] acheronfail commented on #641
Depending on what I'm doing I do one of two things:

* downgrade my `gcc` and `gcc-libs` packages to V9
* ignore the errors during install and manually run the `postinstall` hooks myself

[2020-08-28 08:29] xueping-yang opened #644 "install appmetrics failed with node 14"
I failed run 'npm i appmetrics' on mac, here is the log:

919 verbose stack Error: appmetrics@5.1.1 install: `node showBuildInfo.js && node-gyp rebuild`
919 verbose stack Exit status 1
919 verbose stack     at EventEmitter.<anonymous> (/usr/local/lib/node_modules/npm/node_modules/npm-lifecycle/index.js:332:16)
919 verbose stack     at EventEmitter.emit (events.js:314:20)
919 verbose stack     at C

[2020-08-28 09:59] mattcolegate commented on #644
Although our latest build on Mac with Node 14 failed, it failed during test execution, so it should be possible to install it (https://travis-ci.org/github/RuntimeTools/appmetrics/jobs/721760851). Have you checked that you have all the pre-requisites installed? https://github.com/RuntimeTools/appmetrics#pre-requisites

[2020-08-31 02:32] xueping-yang commented on #644
Yes, I have installed the pre-requisites.

% npm install node-gyp
+ node-gyp@5.1.1
updated 1 package and audited 945 packages in 7.669s

54 packages are looking for funding
  run `npm fund` for details

found 0 vulnerabilities

% node -v
v14.8.0
% npm -v
6.14.8
% npm install appmetrics

Mon, 31 Aug 2020 02:26:12 GMT
********************************************************************************
Y

[2020-08-31 09:06] mattcolegate commented on #644
`gyp: No Xcode or CLT version detected!` - Xcode is a prerequisite of node-gyp https://github.com/nodejs/node-gyp#on-macos. Can you install Xcode and then retry your installation of appmetrics please.

[2020-09-01 09:35] mattcolegate commented on #644
This known issue with node-gyp may also be of interest: https://github.com/nodejs/node-gyp/blob/master/macOS_Catalina.md

[2020-09-03 06:29] xueping-yang commented on #644
After install Xcode, I install appmetrics successfully.
Thank you very much for your help.

[2020-09-03 06:29] #644 closed, assigned to nobody

[2020-09-12 13:42] asido opened #645 "5.1.1 segfaults node"
`appmetrics` segfaults node almost every 2nd time within seconds from start:
[code]

### Usage

[code]

### Environment

mac 10.15.5
node 12.14.1
npm 6.13.4
appmetrics 5.1.1

[2020-09-15 20:26] jloveridge opened #646 "Warnings emitted on Node 14"
When appmetrics is required on node 14 multiple messages are emitted which state:
[code]

The following simple script can reproduce the issue:

[code]

[2020-10-06 05:55] tmkasun commented on #572
I tried to install appmetrics on node v12.18.3 in mac catalina, It's not working. getting bunch of

[code]

errors

[2020-10-06 06:49] mattcolegate commented on #572
@tmkasun Our latest Travis test for Appmetrics 5.1.1 on Node 12.18.4 failed in the test stage but did pass installation: https://travis-ci.org/github/RuntimeTools/appmetrics/jobs/733041231

Can you provide the entire log output for the installation attempt please?

[2020-11-20 19:01] pedroricardo commented on #643
can I monitor HTTP request calls made from the child process application?

[2020-12-03 09:26] saperiumrocks commented on #645
@asido were you able to find any resolution on your end?

[2020-12-03 09:27] asido commented on #645
No.

[2021-01-14 10:47] aqan213 opened #647 "SHA-1 Weak Authentication Algorithm vulnerability in dependency "request""
Our customer reported a vulnerability in bluemix-autoscaling-agent caused by "request" package.
The vulnerability reports that
[code]

The module bluemix-autoscaling-agent uses the latest version appmetrics v5.1.1 and request 2.88.0 is a dependency of node-gyp 5.1.1 which is the dependency of appmetrics.

Here is the hierarchy of the "request" module tracking back to bluemix-autoscaling-agent.

Th

[2021-01-14 11:09] mattcolegate commented on #647
Thanks for this. The solution would be to update our depenceny to a version of `node-gyp` that doesn't require a version of `request`. I notice that https://github.com/nodejs/node-gyp/blob/master/package.json still requires `request` at a level of `^2.88.2`. Can you tell me if that version of `request` still has that vulnerability please?

[2021-01-14 11:47] mattcolegate commented on #647
Acording to https://github.com/request/request/issues/2640 it looks like all versions of `request` are vulnerable. Solution is therefore to get `node-gyp` to move away from `request`. It looks like they already have an issue open for that, https://github.com/nodejs/node-gyp/issues/2047, although it's not looking hopeful. Until that is resolved, appmetrics is unable to do anything.

[2021-01-14 19:37] aqan213 commented on #647
Thanks for the response. How about the other 2 versions request from other 2 package?

`"request": "^2.72.0"` -->`"ibmapm-restclient" `--> `"ibmapm-embed"` --> `"appmetrics"`

and
`"request": "^2.83.0"` --> `kubernetes-client"` --> `"ibmapm-restclient" `--> `"ibmapm-embed"` --> `"appmetrics"`

[2021-01-14 21:42] mattcolegate commented on #647
Best handled by raising issues on https://github.com/IBM/node-ibmapm-restclient and https://github.com/godaddy/kubernetes-client

[2021-02-19 00:12] dnascimb opened #648 "Error with node:14-alpine3.13 image"
This issue occurs with the latest version (v5.1.1) of appmetrics and the public node:14-alpine3.13 docker image. I verified that this works with the node:12.20-alpine image.

[code]

[2021-03-19 00:08] #550 closed

[2021-03-19 00:09] #556 closed

[2021-03-25 08:56] donacarr commented on #647
Hi @mattcolegate , it seems like https://github.com/nodejs/node-gyp/pull/2220 solved issue https://github.com/nodejs/node-gyp/issues/2047 migrating requests to fetch.
When do you plan to use the nodejs version containing the fix ?

[2021-03-25 09:05] mattcolegate commented on #647
Hi @donacarr, looks like this is going into node-gyp v8.0.0 https://github.com/nodejs/node-gyp/pull/2346 - when that version releases we can start looking to pull it into appmetrics

[2021-03-26 12:43] frostmar opened #649 "incompatible with socket.io@3 and @4 - Exception thrown "TypeError: Cannot read property 'on' of undefined""
The socket.io probe https://github.com/RuntimeTools/appmetrics/blob/master/probes/socketio-probe.js works fine with socket.io@2

However socket.io was rewritten for it's v3 and v4. The socket.io interface has changed slightly, causing the following exception to be thrown when socket.io is require'd and the probe attempts to hook in:

[code]

---
I've done a little debugging and can see:

- socket.

[2021-03-26 12:43] frostmar commented on #649
Until this is fixed, is there any way to prevent the socket.io probe from installing? We only use data from other probes.

[2021-03-26 12:47] mattcolegate commented on #649
Does https://github.com/RuntimeTools/appmetrics#appmetricsdisabletype work?

[2021-03-26 12:59] frostmar commented on #649
`appMetrics.disable('socketio')` doesn't help. It looks to me that all probes are installed very early, by the appmetrics index.js, and whether a probe is disabled doesn't affect it attempting to hook in during the require of the target library.

Our code is approximately:

[code]

[2021-03-29 22:44] krisan commented on #648
The same error on `node:14.16.0-alpine3.13` but `node:14.16.0-alpine3.12` works

[code]

[2021-03-31 03:46] dnascimb commented on #648
I was able to verify this. Thanks for responding.

[2021-04-02 00:22] dnascimb commented on #648
Closing issue since a workaround of using `node:14.16.0-alpine3.12` seems to be sufficient.

[2021-04-02 00:22] #648 closed, assigned to nobody

[2021-04-12 10:08] kams2160 commented on #646
Same here! Node v14.15.2

`Warning: Accessing non-existent property '__ddProbeAttached__' of module exports inside circular dependency`

[2021-04-20 00:00] dnascimb commented on #646
Same here, Node v14.16.1

[2021-04-20 01:32] jokeyrhyme commented on #646
It's internal code unfortunately (so I cannot share it at this time), but my team managed to replace the appmetrics module completely in Node.js 14.x using methods available in the standard library

[2021-05-16 12:58] EMJzero commented on #649
Same issue, I need socket.io v3, and that impedes me to use appmetrics-dash due to this issue with appmatrics. I used it in the past, before using v3, and I'd like to continue...
Has this problem been acknowledged by the devs?

[2021-05-21 21:37] upkarlidder opened #651 "unable to install on Fedora 34"
Hello,
Stuck on this problem for a while now. Hoping somebody can point me in the right direction.

[code]
Error when installing appmetrics-prometheus:
[code]

Extended logs:
[code]

[2021-05-21 22:14] mattcolegate commented on #651
@upkarlidder This line jumps out at me:

`/home/upkarfedora/.nvm/versions/node/v13.14.0/lib/node_modules/npm/node_modules/npm-lifecycle/node-gyp-bin/node-gyp: line 5: /usr/local/lib/node_modules/node-gyp/bin/node-gyp.jsn: No such file or directory`

The file that it's running at the time, `node-gyp`, has it's latest form here:
https://github.com/npm/npm-lifecycle/blob/latest/node-gyp-bin/node-gyp

[2021-05-22 23:47] upkarlidder commented on #651
The file exists
[code]

I tried both
[code]
and
[code]

For some reason, it does not see the file:
[code]

Complete error log:
[code]

[2021-05-23 02:52] mattcolegate commented on #651
This issue https://github.com/nodejs/node-gyp/issues/2199 suggests not having the variable set at all
`npm config delete node-gyp`
`unset npm_config_node_gyp`

[2021-05-23 04:12] upkarlidder commented on #651
Thank you @mattcolegate. I deleted it and now get a make error 🤦🏽

[code]

Prerequisites installed:
[code]

New error:
[code]

[2021-06-28 14:10] CaelumF commented on #641
For people who would rather not downgrade several major gcc versions just for this 1 package, the following works for me and I hope will help you too:

1) install gcc 9.30 separately using a package manager or whichever method you like

2) When installing something that depends on appmetrics, use:

[code]

[2021-07-02 18:31] AbhishekPathania commented on #632
As mongoose thenable are not true promises, this may not work.
https://mongoosejs.com/docs/queries.html

Fixed in v14 of Node
https://github.com/nodejs/node/issues/22360#issuecomment-653199762

[2021-07-17 09:20] derodriguez-dev opened #653 "Unable to install library from npm"
Hi,
I got an error during the installation from npm (`npm install --save appmetrics`).

**System information**
- Linux ~ Ubuntu 20.04
- GNU Make 4.2.1
- GCC 9.3.0
- Python 3.8.10 (I've more than one version of python, but I pointed the 3* version on my npm config).
- Node v14.17.2
- NPM 6.14.13

**Error stack trace**
[code]

[2021-08-13 20:26] RedSpid3r commented on #458
Any update on this?

[2021-09-01 18:13] atewari-bot opened #654 "Error with node:14.17.6-alpine3.14 image"
This issue occurs with the latest version (v5.1.1) of appmetrics and the public node:14.17.6-alpine3.14 docker image. It works with the node:14.16.0-alpine3.12 image.

I also tried other public node-alpine images like below but encountered same issue.
node:14.17-alpine3.14,
node:14.17.6-alpine3.14,
node:16.8.0-alpine3.14

[code]

[2021-09-02 09:16] eoo commented on #654
I have the exact same issue since yesterday. I did a system update and since then its not working for me.
Node Version - 10, 14
OS  Arch linux x64
Linux Kernel - 5.13.13

i have tried reinstalling node-gym, removing package-lock, remove .node-gyp folder from $home, removing node_modules folder and reinstalling etc..

Let me know if you find a solution.

[2021-09-06 09:15] s100 opened #655 "Prototype pollution vulnerability in `jszip@2.5.x`"
`appmetrics` [depends on](https://github.com/RuntimeTools/appmetrics/blob/4862e6882e85b63ea22c55cb4b273f17ef4820cb/package.json#L13) `jszip@2.5.x`, which has [this](https://www.npmjs.com/advisories/1774) prototype pollution vulnerability in it. Suggested remediation is to upgrade to `jszip@3.7.0` or later.

[Here is the upgrade guide](https://stuk.github.io/jszip/documentation/upgrade_guide.html)

[2021-09-16 18:50] maos1111 commented on #653
Hi, has found a solution?

[2021-09-17 11:32] derodriguez-dev commented on #653
No, I haven't found a solution. I'm still waiting for an answer!

[2021-10-11 14:03] VladimirCharkot opened #657 "Can't compile"
Hi, I'm getting a compilation error I can't get around while installing from npm.
Any help would be much appreciated

[code]

Thanks!

[2021-10-11 14:06] VladimirCharkot commented on #657
As suggested by another issue on this repo, I tried poiting to gcc9 by `env CC=/usr/bin/gcc-9 npm install` but the error persists, exactly the same

[2021-10-20 22:12] streboryaj commented on #649
If you require socket.io BEFORE appmetrics then it will not be instrumented by appmetrics regardless of the later disable call.

[2021-11-11 11:40] iblessedi commented on #651
any news on this?

[2021-11-18 17:30] taxilian commented on #657
It appears that the authors of this system aren't maintaining it anymore; it doesn't compile reliably in node 14 and from what I can tell doesn't compile at all in node 16, which is the current LTS, and there haven't been any commits since June 2020.

[2022-01-10 10:14] iblessedi commented on #310
Seems like this doesn't work.... If I use pm2 and appmetrics - I see no data in the dashboard.

[2022-03-31 01:34] akhil-karat commented on #653
Same issue with Mac

gyp: [Errno 2] No such file or directory: 'python' while executing command '['python', './generate_build_id.py']' in binding.gyp while trying to load binding.gyp

OS: Monterey 12.3
Node: 14
npm: 6.14.15
node-gyp and xcode libs installed

[2022-05-12 11:14] Michael-Reich commented on #653
Same here, any clou why this happens?

[2022-05-16 01:09] nutboltu commented on #653
I had the same issue. For mac OS: Monterey 12.3, you need to install python 2 manually. I tried to install it using `pyenv` but didn't work. The workaround is to install it from the official download site:

https://www.python.org/downloads/release/python-2718/ → [macOS 64-bit installer](https://www.python.org/ftp/python/2.7.18/python-2.7.18-macosx10.9.pkg)

It works for me.

System Information
- O

[2022-06-01 11:13] xaaddyy commented on #646
Any update on this issue?

[2022-08-29 07:30] amanthegreatone commented on #646
@jokeyrhyme  can you explain how you removed this package and got the required metrics?

[2022-08-29 09:36] amanthegreatone opened #659 "is this being maintained?"
is this repo being maintained? I would like to use this for Node18 projects but see that there are build issues for Node16 +

[2022-08-30 00:23] jokeyrhyme commented on #646
- we have setTimeout/setInterval jobs that use [`os.cpus()`](https://nodejs.org/dist/latest-v16.x/docs/api/os.html#oscpus), [`os.freemem()`](https://nodejs.org/dist/latest-v16.x/docs/api/os.html#osfreemem), [`os.totalmem()`](https://nodejs.org/dist/latest-v16.x/docs/api/os.html#ostotalmem), [`perf_hooks.PerformanceObserver`](https://nodejs.org/dist/latest-v16.x/docs/api/perf_hooks.html#class-perf_

[2022-09-01 05:43] amanthegreatone commented on #659
i have tried using internal node tools to get similar metrics. any comments are welcome. i did not add gc yet but it can be added in a similar manner.

[code]

i am using statsd as the transport client to gauge metrics to my influxdb via telegraf and then graph it using grafana.

[2022-09-01 05:45] amanthegreatone commented on #646
this is what i could come up with

[code]

any comments are welcome

[2022-11-03 19:25] jloveridge commented on #659
Near as I can tell no, it isn't being maintained.